.content {
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  padding: 20px;
  background-color: var(--fr-color);
  border-radius: 5px;
  width: 250px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email-section,
.password-section {
  display: flex;
  flex-direction: column;
}
.password-section {
  padding-bottom: 15px;
}
.email-section label,
.password-section label {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.2em;
}
.email-section input,
.password-section input {
  border: 1.5px solid var(--fr-color-alt);
  background-color: var(--fr-color);
  color: var(--bg-color);
  height: 1.3em;
  font-size: 1em;
  border-radius: 5px;
  font-weight: 500;
}
.btn {
  background-color: var(--bg-color);
  color: var(--fr-color);
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  padding: 5px 5px;
}
.btn:hover {
  cursor: pointer;
  box-shadow: #2c3e50;
}
.login-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}
